	body
	{
		margin: 0;
	}
	*
	{
		font-family: Arial;

	}

	#Header
	{
		background-color:green;
		color:white;
		padding: 1px 0% 1px 47%;
		font-size: x-large;
		margin: 0;
	}
	#MainBox
	{
		display: flex;
		width: 850px;
		margin: auto;
		justify-content: center;
		align-items: stretch;
	}
	#ListBox
	{
		margin-right: 20px;
		width: 200px;
		text-decoration: underline;
		background-color: red;
		color: white;
		height: 690px;

	}
	ul
	{
		display: table;
	}
	li
	{
		list-style-type: none;
		margin: 10px;
		width: 115px;
		margin-left:-5px ;
		margin-bottom: 15px;
	}
	#TextBox
	{
		width: 100%;
	}
	footer
	{
		position: fixed;
		color: white;
		background-color: black;
		bottom: 0;
		width: 100%;
		text-align: center;
		background-color:black;
		color:white;
		right: 0;
	}
@media (max-width: 950px)
{
	#MainBox
	{
		width: 100%;
	}
}
*::selection
{
	background-color:green;
}
li:hover
{
	background-color: green;
	
}
p::first-letter
{
	font-size: x-large;
	color: red;
}